﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@section heads{
    <link rel="stylesheet" href="@Url.Content("~/css/authorization.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/login.css")" type="text/css" />
}


<div class="row">
    <div class="col-md-offset-3 col-md-6 login-form">
        <div class="login-left-img">

        </div>
        <section class="login-section">
            <h2>@ViewData["Title"]</h2>
            <h4>Enter your email.</h4>
            <hr />
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
