﻿@using HealthCare.MVC.ViewModels;
@model HomeViewModel

@section heads{
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")" type="text/css" />
}

    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail profile-card">
                @if(@Model.ApplicationUser.PhotoUrl != null){
                    <img src="@Model.ApplicationUser.PhotoUrl" alt="avatar">
                }
                else {
                    <img src="~/images/avatar.png" alt="avatar">
                }
                <div class="caption">
                    <h3>@Model.ApplicationUser.FirstName @Model.ApplicationUser.SecondName</h3>
                    <p>@Model.ApplicationUser.UserName</p>
                    <hr />
                    <p><a href="#" class="btn btn-primary" role="button">Edit profile</a></p>
                </div>
            </div>
        </div>

        <div class="home-event-section">
            <div class="thumbnail col-md-3">
                <img src="~/images/medical_build.png" alt="avatar">
                <div class="caption">
                    <p><a asp-area="" class="btn btn-primary" asp-controller="Hospital" asp-action="Index">Booking appointment</a></p>
                </div>
            </div>
            <div class="thumbnail col-md-3">
                <img src="~/images/medical_history.png" alt="avatar">
                <div class="caption">
                    <p><a href="#" class="btn btn-primary" role="button">Medical card</a></p>
                </div>
            </div>
            <div class="thumbnail col-md-3">
                <img src="~/images/medical_report.png" alt="avatar">
                <div class="caption">
                    <p><a href="#" class="btn btn-primary" role="button">Medical report</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Last events</div>
            </div>
        </div>
        
    </div>