﻿.profile-card {
    margin-top: 50px;
}

.profile-content {
    padding-top: 50px;
}

.home-event-section {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.home-event-section .caption {
    display: flex;
    justify-content: space-around;
}