﻿.register-form {
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    background-color: #fefefe;
    padding-left: 0px;
    display: flex;
}

.register-section {
    padding: 40px 5px 40px 40px;
    flex-grow: 2;
}

.register-left-img {
    width: 200px;
    border-radius: 10px 0px 0px 10px;
    background-image: url("../images/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}