﻿@using HealthCare.MVC.Models
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section heads{
    <link rel="stylesheet" href="@Url.Content("~/css/hospital/doctors.css")" type="text/css" />
}

<h2>Doctors</h2>

<div class="row">
    @foreach (ApplicationUser doctor in Model)
    {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="@doctor.PhotoUrl" class="doctor-modal-img">
                <div class="caption">
                    <h3>@doctor.FirstName @doctor.SecondName</h3>
                    <p>@doctor.UserName</p>
                    @Html.ActionLink("Enter", "Index", "Booking", new DoctorSearchModel { DoctorId = doctor.Id }, null)
                </div>
            </div>
        </div>
    }
</div>