﻿@using HealthCare.MVC.Models
@model IEnumerable<Hospital>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section heads{
    <link rel="stylesheet" href="@Url.Content("~/css/hospital/hospitalindex.css")" type="text/css" />
}

<div class="row">
    <div class="col-lg-12">
        <form method="post">
            <div class="input-group search-panel">
                <input type="text" class="form-control" name="hospitalName">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    @foreach (Hospital hospital in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@hospital.ComplexImgUrl" class="hospital-modal-img">
                <div class="caption">
                    <h3>@hospital.Name</h3>
                    <p>@hospital.StartingWorkTime.TimeOfDay - @hospital.EndingWorkTime.TimeOfDay</p>
                    <p>@hospital.ContactPhone</p>
                    <p>@hospital.Addres</p>
                    <p>Rating: @hospital.Rating</p>
                    <p>@hospital.Description</p>
                    
                    @Html.ActionLink("Enter", "Doctors", "Hospital", new HospitalSearchModel { HospitalId = hospital.Id, Specialization = null }, null)
                </div>
            </div>
        </div>
    }
</div>

