﻿@using HealthCare.MVC.ViewModels;
@model ApplicationUser

@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Booking</h2>

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="@Model.PhotoUrl" class="doctor-modal-img">
            <div class="caption">
                <h3>@Model.FirstName @Model.SecondName</h3>
                <p>@Model.UserName</p>
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-9">
            
        </div>
    </div>
</div>
